name: Testing on Ubuntu

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4', '3.3', '3.2', '3.1']
        os: [ubuntu-latest]
        experimental: [false]
        include:
          - ruby-version: head
            os: ubuntu-latest
            experimental: true
# FIXME: on GitHub action, when cpufreq is not available by default
#        capability: [true, false]
        capability: [false]

    name: Ruby ${{ matrix.ruby-version }} capability ${{ matrix.capability }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt -V install libcap-ng-dev
          bundle install
      - name: setup linux capability (cap_dac_read_search=+eip)
        run: sudo setcap cap_dac_read_search=+eip $(command -v ruby)
        if: ${{ matrix.capability }}
      - name: show linux capability
        run: sudo getcap $(command -v ruby)
      - name: Run tests
        run: bundle exec rake test
